body{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.atumalaca{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 6px solid black;
    width: 277px;
}

.atumei{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.decrisao{
    word-break: break-all;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}